
/* style everything to look cool duh */
@import url('https://fonts.googleapis.com/css?family=Monoton');

body {
    background-image: url("http://www.biocenit.cat/mypics/23/231237/wallpapers-png.png");
    
}


#header {
    color: white;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 50px;
}

.jumbotron {
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 20px;
    background-color: #C1FFC1;
}

.img1 {
    border-radius: 20px;
    margin-left: 10%;
    width: 200px;
    height: 200px;
}

#exampledivinfo {
    display: flex;
}

#examplepic {
    color: white;
}

.exampleinfo {
    margin-top:11.5px;
    color: black;
    background: #c1e1ec;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    margin-right: 10%;
    padding:2.5px;
}

.weedinfo{
    text-align:left;
    margin-top:20px;   
}

#weedrace, #weedeffect, #weedflavor {
    margin-top:10px;
    margin-left:250px;
}
#weedname{
    margin-left:250px;
}

#searchbar {
    color: black;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fddde6;
    
  }




  /* nav {
    display: flex;
    list-style: none;
  } */

