/* style everything to look cool duh */
@import url('https://fonts.googleapis.com/css?family=Monoton');

body {
    background-image: url("http://www.biocenit.cat/mypics/23/231237/wallpapers-png.png");

}


#header {
    color: white;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 50px;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

.jumbotron {
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 30px;
    background-color: #C1FFC1;
}


#exampledivinfo {
    display: flex;
}

#examplepic {
    color: white;
}

.exampleinfo {
    margin-top: 20px;
    color: black;
    background: #c1e1ec;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    margin-right: 10%;
    padding: 2.5px;


}

#satvsind {
    float: center;
    margin: 15px;
}

.weedinfo {
    text-align: left;
    clear: both;
    margin-top: 15px;
}


#weedrace,
#weedeffect,
#weedflavor {
    margin-top: 10px;
    margin-left: 25px;
}

#weedname {
    margin-left: 25px;
}

#searchbar {
    color: black;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C1FFC1;
    color: black;
    text-align: center;
    line-height: 50px;
    height: 50px;
}