/* style everything to look cool duh */
@import url('https://fonts.googleapis.com/css?family=Monoton');
body{ 
background-image: url("http://www.biocenit.cat/mypics/23/231237/wallpapers-png.png");
    }

    
#header{color:white;
text-align:center;
font-family: 'Monoton', cursive;
font-size:50px;
}

.jumbotron{margin-right:10%;
    margin-left:10%;
border-radius:20px;
background-color:#C1FFC1;}

.img1{border-radius:50px;
margin-left:10%;
}

#introdiv{color:white;}

#examplepic{color:white;}

#exampleinfo{color:white;}

#searchbar{color:white;}

#footer{color:white;}

